<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue响应式原理</title>
</head>
<body>
    <h1>vue响应式原理</h1>
    <h2>{{  msg}}</h2>
    <h2>{{count }}</h2>
    <h1>v-text</h1>
    <h2 v-text="msg"></h2>
    <h2>v-model</h2>
    <label for="name">
        <input id="name" v-model='msg' type="text"/>
    </label>
    <label for="num">
        <input id="num" v-model='count' type="text"/>
    </label>
</body>

<script>
    
</script>
</html>